<ion-header>
  <ion-toolbar class="header">
    <ion-buttons slot="start">
      <!--icone do menu-->
    <ion-buttons slot="start">
      <ion-button style="opacity: 0; pointer-events: none;">
        <ion-icon slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    
    <img src="assets/NerdSphera.svg" id="logo" alt="NerdSphera Logo" />
    <!--icone do perfil-->
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="person-circle-outline"></ion-icon>
      </ion-button>
      </ion-buttons>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-title>Configurações</ion-title>>
  <ion-list>
    <!-- Tipo de fonte -->
    <ion-item>
      <ion-label>Tipo de Fonte</ion-label>
      <ion-select [(ngModel)]="fontType" (ionChange)="updateConfig()">
        <ion-select-option value="default">Padrão</ion-select-option>
        <ion-select-option value="serif">Serif</ion-select-option>
        <ion-select-option value="sans-serif">Sans-serif</ion-select-option>
      </ion-select>
    </ion-item>

    <!-- Contraste -->
    <ion-item>
      <ion-label>Contraste</ion-label>
      <ion-toggle [(ngModel)]="darkMode" (ionChange)="updateConfig()"></ion-toggle>
    </ion-item>

    <!-- Tamanho da fonte -->
    <ion-item>
      <ion-label>Tamanho da Fonte</ion-label>
      <ion-range min="12" max="24" [(ngModel)]="fontSize" (ionChange)="updateConfig()">
        <ion-label slot="start">12px</ion-label>
        <ion-label slot="end">24px</ion-label>
      </ion-range>
    </ion-item>
  </ion-list>

  <ion-button expand="full" class="transparent-button" href="/home">
    <ion-icon name="arrow-back-outline" slot="start"></ion-icon>
    Voltar
  </ion-button>
</ion-content>
