//header
ion-toolbar {
    --background: linear-gradient(to bottom, #190055, #6a0dad);
    --color: white;
    --min-height: 30px;
    --padding-top: 5px;
    --padding-bottom: 5px;
    text-align: center;
  }
  // imagem nerdsphera do header
  #logo {
    height: 50px; 
    margin: auto; 
    margin-top: 10px;
    display: block;
  }
  
  //corpo
  ion-content {
    --background: white;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
  }
  .header-content {
    text-align: center;
    padding: 20px;
    color: white;
  }
  .title{
    color:#000000;
  }
  ion-item {
    color: rgb(0, 0, 0);
    --ion-item-background: #f3f4f6;
    border-radius: 10px;
  }
  
  //botão
  ion-button {
    margin-top: 20px;
  }
  //botão transparente
  .transparent-button {
    --background: transparent;  
    --border-radius: 10px;      
    --color: white;             
    --box-shadow: none;         
  }
  .transparent-button:hover {
    --background: rgba(255, 255, 255, 0.1);  
  }
